In [111]:
import pandas as pd 
data=pd.read_csv('/Users/dam115/Downloads/data9.csv')
data2=data[ data["TRANSACTION_DESCRIPTION"].isnull() ==False]
data2= data2[data2['AMT']>0]
#data2['TRANSACTION_DESCRIPTION'].value_counts()
data2

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
182,22-Aug,male,11,7,3,56-65,2,11,"R9,000 - 9,999",OPENED-FROM SAV,...,21,CHEQ,teller,94276879573be10ebbd93837b6f4ee3b039c25bf46ee9c...,f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...,2022-08-26 00:00:00+02:00,2022,August,Friday,Technicians and associate professionals
301,22-Aug,male,11,10,1,46-55,5,11,"R9,000 - 9,999",BAD DEBT W/OFF,...,100,CHEQ,teller,b53b7d1ec0f971a832984e8561e6d45ad20544da6c4ffe...,f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...,2022-02-18 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
306,22-Aug,male,11,10,1,46-55,5,11,"R9,000 - 9,999",CREDIT TRANSFER,...,36,CHEQ,system,293107ebad9c22971f21ea6c1939c5ec8c58721c6f4f68...,4e30505204e1d9b0d3a11be961556d43fb7d7feddeac9e...,2022-05-30 00:00:00+02:00,2022,May,Monday,"Legislators, senior officials and managers"
308,22-Aug,male,11,10,1,46-55,5,11,"R9,000 - 9,999",ACB CREDIT,...,80,CHEQ,system,b53b7d1ec0f971a832984e8561e6d45ad20544da6c4ffe...,a6be280d663c3ec5d9b86999f6c474f7ad3a76bc5fee42...,2021-12-30 00:00:00+02:00,2021,December,Thursday,"Legislators, senior officials and managers"
313,22-Jun,male,11,7,1,36-45,28,11,"R9,000 - 9,999",ACB CREDIT,...,972,CHEQ,system,4b28f2cb081519f26d40dc78af6b8c95c25f143d305fbb...,024bcf8ff6b121f85110dede2dde2e6c3ccaa05bfd45b8...,2022-03-25 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847271,22-Aug,male,20,6,1,46-55,5048,20,"R85,000 - 124,999",OPENED-FROM SAV,...,21,CHEQ,teller,c8cbba33fa290e9602c17fa0c42456c6571c41d3e1397f...,f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...,2022-08-18 00:00:00+02:00,2022,August,Thursday,"Legislators, senior officials and managers"
847284,22-Aug,male,20,6,1,46-55,5048,20,"R85,000 - 124,999",NPF CREDIT,...,85,CHEQ,teller,c8cbba33fa290e9602c17fa0c42456c6571c41d3e1397f...,80f25d1b2020bc09db74533434ef5235331e1e8184b116...,2022-08-23 00:00:00+02:00,2022,August,Tuesday,"Legislators, senior officials and managers"
847289,22-Aug,male,20,6,1,46-55,5048,20,"R85,000 - 124,999",ACB CREDIT,...,107,CHEQ,system,c8cbba33fa290e9602c17fa0c42456c6571c41d3e1397f...,aefa88e198f4e1fb1a7561db3e2ce9ec07a062b64501e5...,2022-08-29 00:00:00+02:00,2022,August,Monday,"Legislators, senior officials and managers"
847399,22-Sep,male,21,4,2,36-45,2536,21,"R125,000+",TRANSFER FROM,...,57,CHEQ,teller,2b1782c2a5ade2a84c3106c686d61535b52cdd5a5d8c0c...,f90ddd77e400dfe6a3fcf479b00b1ee29e7015c5bb8cd7...,2022-06-30 00:00:00+02:00,2022,June,Thursday,Professionals
847403,22-Aug,male,21,14,1,36-45,2931,21,"R125,000+",ACB CREDIT,...,33,CHEQ,system,a2efd13660d548890b6d11c7191351dced9ef34452d643...,a5c960f582e287d5a70b96ca50185ea0bdaa6a046e6d9d...,2022-07-28 00:00:00+02:00,2022,July,Thursday,"Legislators, senior officials and managers"

In [58]:
data2 =data[data["AMT"] >0]
data2

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
12,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",NaN,...,1466,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,NaN,2021-12-23 00:00:00+02:00,2021,December,Thursday,"Legislators, senior officials and managers"
13,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",NaN,...,1599,SAVE,teller,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,NaN,2022-03-30 00:00:00+02:00,2022,March,Wednesday,"Legislators, senior officials and managers"
17,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",NaN,...,1581,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,NaN,2022-03-25 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
24,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",NaN,...,1563,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,NaN,2022-03-18 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
25,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",NaN,...,1497,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,NaN,2022-01-28 00:00:00+02:00,2022,January,Friday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847539,22-Aug,male,0,5,1,36-45,5085,0,NOT SUPPLIED,NaN,...,72,SAVE,system,103e213962f8b80460e5a69e25ecce5b4026e89e974036...,NaN,2021-12-08 00:00:00+02:00,2021,December,Wednesday,"Legislators, senior officials and managers"
847540,22-Aug,male,0,5,1,36-45,5085,0,NOT SUPPLIED,NaN,...,75,SAVE,system,103e213962f8b80460e5a69e25ecce5b4026e89e974036...,NaN,2022-02-08 00:00:00+02:00,2022,February,Tuesday,"Legislators, senior officials and managers"
847541,22-Aug,male,0,5,1,36-45,5085,0,NOT SUPPLIED,NaN,...,73,SAVE,system,103e213962f8b80460e5a69e25ecce5b4026e89e974036...,NaN,2022-01-08 00:00:00+02:00,2022,January,Saturday,"Legislators, senior officials and managers"
847542,22-Aug,male,0,5,1,36-45,5085,0,NOT SUPPLIED,NaN,...,78,SAVE,system,103e213962f8b80460e5a69e25ecce5b4026e89e974036...,NaN,2022-05-08 00:00:00+02:00,2022,May,Sunday,"Legislators, senior officials and managers"
847543,22-Aug,male,0,5,1,36-45,5085,0,NOT SUPPLIED,NaN,...,77,SAVE,system,103e213962f8b80460e5a69e25ecce5b4026e89e974036...,NaN,2022-04-08 00:00:00+02:00,2022,April,Friday,"Legislators, senior officials and managers"

In [59]:

dat = data[data['CHANNEL'] == "atm"]
dats = dat[dat["AMT"] < 0]
top = dats["TRANSACTION_DESCRIPTION"].value_counts().head(60)
top

TRANSACTION_DESCRIPTION
ATM WITHDRAWAL        38894
AIRTIME DEBIT         37079
LOTTO PURCHASE        11453
PREPAID DEBIT          5403
TRI ATM WITHDRAWAL     1559
ATM PAYMENT TO          294
CASHSEND ATM            254
ATM TRANSFER            250
SCAN TRANSFER TO         13
SSD OTHER CHIP WDL        3
AIRTIME DBT ATMS          1
Name: count, dtype: int64

In [60]:
filtered_df = data[data["TRANSACTION_DESCRIPTION"] == "CAN CASHSEND IB"]
filtered_df["AMT"].max()
#filtered_df.info()

3000.0

In [61]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "system"]
data2A = data2[(data2['AMT'] <= -0.01) & (data2['AMT'] <= -460.99)]

data2A.fillna("MANAGEMENT FEE", inplace = True)

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/1853322225.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2A.fillna("MANAGEMENT FEE", inplace = True)

In [62]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "system"]
data2B = data2[(data2['AMT'] <= -461.00) & (data2['AMT'] <= -12284.99)]

data2B.fillna("ACB DEBIT:EXTERNAL", inplace = True)

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/2944254716.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2B.fillna("ACB DEBIT:EXTERNAL", inplace = True)

ATM

In [102]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "atm"]
data2C = data2[(data2['AMT'] <= -0.01) & (data2['AMT'] >= -699.99)]

data2C.fillna("AIRTIME DEBIT", inplace = True) 
data2C

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/3128794553.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2C.fillna("AIRTIME DEBIT", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
1,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",AIRTIME DEBIT,...,1486,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,AIRTIME DEBIT,2022-01-14 00:00:00+02:00,2022,January,Friday,"Legislators, senior officials and managers"
2,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",AIRTIME DEBIT,...,1478,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,AIRTIME DEBIT,2022-01-03 00:00:00+02:00,2022,January,Monday,"Legislators, senior officials and managers"
3,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",AIRTIME DEBIT,...,1577,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,AIRTIME DEBIT,2022-03-21 00:00:00+02:00,2022,March,Monday,"Legislators, senior officials and managers"
6,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",AIRTIME DEBIT,...,1583,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,AIRTIME DEBIT,2022-03-25 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
7,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",AIRTIME DEBIT,...,1493,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,AIRTIME DEBIT,2022-01-21 00:00:00+02:00,2022,January,Friday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847508,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,AIRTIME DEBIT,...,71,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,AIRTIME DEBIT,2021-09-07 00:00:00+02:00,2021,September,Tuesday,"Legislators, senior officials and managers"
847514,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,AIRTIME DEBIT,...,83,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,AIRTIME DEBIT,2021-09-09 00:00:00+02:00,2021,September,Thursday,"Legislators, senior officials and managers"
847516,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,AIRTIME DEBIT,...,246,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,AIRTIME DEBIT,2022-01-16 00:00:00+02:00,2022,January,Sunday,"Legislators, senior officials and managers"
847522,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,AIRTIME DEBIT,...,175,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,AIRTIME DEBIT,2021-11-15 00:00:00+02:00,2021,November,Monday,"Legislators, senior officials and managers"
847527,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,AIRTIME DEBIT,...,174,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,AIRTIME DEBIT,2021-11-14 00:00:00+02:00,2021,November,Sunday,"Legislators, senior officials and managers"

In [103]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "atm"]
data2D = data2[(data2['AMT'] <= -700.00) & (data2['AMT'] >= -750.99)]

data2D.fillna("LOTTO PURCHASE", inplace = True) 
data2D

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/1728036463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2D.fillna("LOTTO PURCHASE", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
22,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",LOTTO PURCHASE,...,1437,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,LOTTO PURCHASE,2021-11-20 00:00:00+02:00,2021,November,Saturday,"Legislators, senior officials and managers"
28,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",LOTTO PURCHASE,...,1537,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,LOTTO PURCHASE,2022-02-25 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
127,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",LOTTO PURCHASE,...,1570,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,LOTTO PURCHASE,2022-03-19 00:00:00+02:00,2022,March,Saturday,"Legislators, senior officials and managers"
145,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",LOTTO PURCHASE,...,1362,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,LOTTO PURCHASE,2021-09-17 00:00:00+02:00,2021,September,Friday,"Legislators, senior officials and managers"
282,22-Aug,male,11,7,3,56-65,2,11,"R9,000 - 9,999",LOTTO PURCHASE,...,1731,SAVE,atm,94276879573be10ebbd93837b6f4ee3b039c25bf46ee9c...,LOTTO PURCHASE,2022-03-18 00:00:00+02:00,2022,March,Friday,Technicians and associate professionals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837260,22-Jul,male,1,4,1,26-35,2436,1,R 0 - 499,LOTTO PURCHASE,...,982,SAVE,atm,099ed0e308d3d97b5a747d3ea5de0319406e0b892df8b6...,LOTTO PURCHASE,2022-02-05 00:00:00+02:00,2022,February,Saturday,"Legislators, senior officials and managers"
837298,22-Jul,male,1,4,1,26-35,2436,1,R 0 - 499,LOTTO PURCHASE,...,925,SAVE,atm,099ed0e308d3d97b5a747d3ea5de0319406e0b892df8b6...,LOTTO PURCHASE,2022-01-16 00:00:00+02:00,2022,January,Sunday,"Legislators, senior officials and managers"
838499,22-Aug,male,1,6,1,36-45,3202,1,R 0 - 499,LOTTO PURCHASE,...,412,SAVE,atm,198bc222be486837826e4c298e4d28498f62cfb5972a53...,LOTTO PURCHASE,2022-02-01 00:00:00+02:00,2022,February,Tuesday,"Legislators, senior officials and managers"
838937,22-Apr,female,1,5,4,66+,3701,1,R 0 - 499,LOTTO PURCHASE,...,1150,SAVE,atm,1a3a3ea2b4d4685fe1268a063b24f7e5d09e18ae76528d...,LOTTO PURCHASE,2021-12-03 00:00:00+02:00,2021,December,Friday,Clerks
847517,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,LOTTO PURCHASE,...,182,SAVE,atm,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,LOTTO PURCHASE,2021-12-01 00:00:00+02:00,2021,December,Wednesday,"Legislators, senior officials and managers"

In [105]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "atm"]
data2E = data2[(data2['AMT'] <= -751.00) & (data2['AMT'] >= -1000.99)]
data2E.fillna("PREPAID DEBIT ", inplace = True) 
data2E

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/3877038483.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2E.fillna("PREPAID DEBIT ", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
0,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",PREPAID DEBIT,...,1489,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,PREPAID DEBIT,2022-01-16 00:00:00+02:00,2022,January,Sunday,"Legislators, senior officials and managers"
23,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",PREPAID DEBIT,...,1557,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,PREPAID DEBIT,2022-03-11 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
27,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",PREPAID DEBIT,...,1521,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,PREPAID DEBIT,2022-02-11 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
66,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",PREPAID DEBIT,...,1347,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,PREPAID DEBIT,2021-09-03 00:00:00+02:00,2021,September,Friday,"Legislators, senior officials and managers"
67,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",PREPAID DEBIT,...,1548,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,PREPAID DEBIT,2022-03-04 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842591,22-Aug,male,1,8,1,36-45,4436,1,R 0 - 499,PREPAID DEBIT,...,159,SAVE,atm,7430d5c20ae5aa835f6d8b00f593f282e77c6eb011ffdc...,PREPAID DEBIT,2022-01-04 00:00:00+02:00,2022,January,Tuesday,"Legislators, senior officials and managers"
842698,22-Aug,male,1,8,1,36-45,4436,1,R 0 - 499,PREPAID DEBIT,...,256,SAVE,atm,7430d5c20ae5aa835f6d8b00f593f282e77c6eb011ffdc...,PREPAID DEBIT,2022-02-13 00:00:00+02:00,2022,February,Sunday,"Legislators, senior officials and managers"
844904,22-Aug,male,1,6,7,66+,4598,1,R 0 - 499,PREPAID DEBIT,...,2288,SAVE,atm,e07fe77c09655c6219baa155b6bde8022c627041022dd4...,PREPAID DEBIT,2021-11-02 00:00:00+02:00,2021,November,Tuesday,Craft and related trades workers
845253,22-Jul,female,1,5,4,46-55,4617,1,R 0 - 499,PREPAID DEBIT,...,1534,SAVE,atm,04b0e2d1b8fdf5739748da0d0fb31f54f928dd851adf43...,PREPAID DEBIT,2021-11-13 00:00:00+02:00,2021,November,Saturday,Clerks
845869,22-Aug,female,1,7,7,56-65,5021,1,R 0 - 499,PREPAID DEBIT,...,835,SAVE,atm,59be566c42faf9ab5111336638b6369d149d04fbcc05b1...,PREPAID DEBIT,2022-03-19 00:00:00+02:00,2022,March,Saturday,Craft and related trades workers

In [107]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "atm"]
data2F = data2[(data2['AMT'] <= -1001.00) & (data2['AMT'] >= -5000.00)]
data2F.fillna("ATM WITHDRAWAL", inplace = True)
data2F

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/1960473805.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2F.fillna("ATM WITHDRAWAL", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
29,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",ATM WITHDRAWAL,...,1507,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,ATM WITHDRAWAL,2022-02-04 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
33,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",ATM WITHDRAWAL,...,1389,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,ATM WITHDRAWAL,2021-10-08 00:00:00+02:00,2021,October,Friday,"Legislators, senior officials and managers"
34,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",ATM WITHDRAWAL,...,1443,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,ATM WITHDRAWAL,2021-12-03 00:00:00+02:00,2021,December,Friday,"Legislators, senior officials and managers"
79,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",ATM WITHDRAWAL,...,1509,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,ATM WITHDRAWAL,2022-02-05 00:00:00+02:00,2022,February,Saturday,"Legislators, senior officials and managers"
84,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",ATM WITHDRAWAL,...,1602,SAVE,atm,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,ATM WITHDRAWAL,2022-03-31 00:00:00+02:00,2022,March,Thursday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845315,22-Jul,female,1,5,4,46-55,4617,1,R 0 - 499,ATM WITHDRAWAL,...,1739,SAVE,atm,04b0e2d1b8fdf5739748da0d0fb31f54f928dd851adf43...,ATM WITHDRAWAL,2022-01-12 00:00:00+02:00,2022,January,Wednesday,Clerks
847292,22-Jul,male,21,10,1,46-55,1271,21,"R125,000+",ATM WITHDRAWAL,...,1280,SAVE,atm,44256c3a7ea1ad64a7bced02a3793705b1d5afe3d855b7...,ATM WITHDRAWAL,2022-06-25 00:00:00+02:00,2022,June,Saturday,"Legislators, senior officials and managers"
847295,22-Jul,male,21,10,1,46-55,1271,21,"R125,000+",ATM WITHDRAWAL,...,1275,SAVE,atm,44256c3a7ea1ad64a7bced02a3793705b1d5afe3d855b7...,ATM WITHDRAWAL,2022-06-11 00:00:00+02:00,2022,June,Saturday,"Legislators, senior officials and managers"
847319,22-Jul,male,21,10,1,46-55,1271,21,"R125,000+",ATM WITHDRAWAL,...,1282,SAVE,atm,44256c3a7ea1ad64a7bced02a3793705b1d5afe3d855b7...,ATM WITHDRAWAL,2022-06-27 00:00:00+02:00,2022,June,Monday,"Legislators, senior officials and managers"
847364,22-Jul,male,21,17,1,56-65,2480,21,"R125,000+",ATM WITHDRAWAL,...,3358,SAVE,atm,2661b9973c5dd384b10fac0a30e953b06aee22eb9aba71...,ATM WITHDRAWAL,2022-07-07 00:00:00+02:00,2022,July,Thursday,"Legislators, senior officials and managers"

TELLER CREDIT

In [108]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "teller"]
data2G = data2[(data2['AMT'] >= 0) & (data2['AMT'] <= 46998.99)]
data2G.fillna("IMMEDIATE TRF CR", inplace = True)
data2G

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/1681538922.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2G.fillna("IMMEDIATE TRF CR", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
13,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",IMMEDIATE TRF CR,...,1599,SAVE,teller,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,IMMEDIATE TRF CR,2022-03-30 00:00:00+02:00,2022,March,Wednesday,"Legislators, senior officials and managers"
59,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",IMMEDIATE TRF CR,...,1505,SAVE,teller,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,IMMEDIATE TRF CR,2022-02-04 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
88,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",IMMEDIATE TRF CR,...,1374,SAVE,teller,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,IMMEDIATE TRF CR,2021-09-28 00:00:00+02:00,2021,September,Tuesday,"Legislators, senior officials and managers"
227,22-Aug,male,11,7,3,56-65,2,11,"R9,000 - 9,999",IMMEDIATE TRF CR,...,2125,SAVE,teller,94276879573be10ebbd93837b6f4ee3b039c25bf46ee9c...,IMMEDIATE TRF CR,2022-07-22 00:00:00+02:00,2022,July,Friday,Technicians and associate professionals
502,22-Sep,male,11,13,1,46-55,39,11,"R9,000 - 9,999",IMMEDIATE TRF CR,...,7564,SAVE,teller,56bedc08f25eda86ea9eb248f0b10d6744078cbdf78bba...,IMMEDIATE TRF CR,2022-05-10 00:00:00+02:00,2022,May,Tuesday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847444,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,IMMEDIATE TRF CR,...,91,SAVE,teller,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,IMMEDIATE TRF CR,2021-09-15 00:00:00+02:00,2021,September,Wednesday,"Legislators, senior officials and managers"
847460,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,IMMEDIATE TRF CR,...,92,SAVE,teller,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,IMMEDIATE TRF CR,2021-09-15 00:00:00+02:00,2021,September,Wednesday,"Legislators, senior officials and managers"
847467,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,IMMEDIATE TRF CR,...,351,SAVE,teller,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,IMMEDIATE TRF CR,2022-03-16 00:00:00+02:00,2022,March,Wednesday,"Legislators, senior officials and managers"
847474,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,IMMEDIATE TRF CR,...,90,SAVE,teller,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,IMMEDIATE TRF CR,2021-09-14 00:00:00+02:00,2021,September,Tuesday,"Legislators, senior officials and managers"
847496,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,IMMEDIATE TRF CR,...,165,SAVE,teller,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,IMMEDIATE TRF CR,2021-11-06 00:00:00+02:00,2021,November,Saturday,"Legislators, senior officials and managers"

In [71]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "teller"]
data2H = data2[(data2['AMT'] >= 46999.00) & (data2['AMT'] <= 49162.99)]
data2H.fillna("OPENED-FROM SAV", inplace = True)
data2H

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/2285041475.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2H.fillna("OPENED-FROM SAV", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
174488,22-Sep,female,12,9,1,26-35,752,12,"R10,000 - 11,999",OPENED-FROM SAV,...,10192,SAVE,teller,5198d51a5423329555c8f9e5444bde59173ba0db08a763...,OPENED-FROM SAV,2022-08-16 00:00:00+02:00,2022,August,Tuesday,"Legislators, senior officials and managers"
204541,22-Jun,female,12,14,1,46-55,2933,12,"R10,000 - 11,999",OPENED-FROM SAV,...,157,SAVE,teller,0914a5130a755f176f07eea2c8808b9ae677cf95ab34d7...,OPENED-FROM SAV,2022-04-07 00:00:00+02:00,2022,April,Thursday,"Legislators, senior officials and managers"
642448,22-Sep,female,16,11,1,46-55,1614,16,"R25,000 - 33,999",OPENED-FROM SAV,...,2586,SAVE,teller,aebd16e86b777ac6f84dcd7a3124ea402023c388290fff...,OPENED-FROM SAV,2022-05-16 00:00:00+02:00,2022,May,Monday,"Legislators, senior officials and managers"
789471,22-Sep,female,4,10,3,56-65,1723,4,"R2,000 - 2,999",OPENED-FROM SAV,...,1784,SAVE,teller,252015c8fc50da7114008f75fefec6f44c8c17377fabae...,OPENED-FROM SAV,2022-06-21 00:00:00+02:00,2022,June,Tuesday,Technicians and associate professionals
805561,22-Jul,male,3,11,7,56-65,3831,3,"R1,000 - 1,999",OPENED-FROM SAV,...,2610,SAVE,teller,1f95dbbc1d0ba24731282ab9dae9f9e67816b5393a1be3...,OPENED-FROM SAV,2022-01-05 00:00:00+02:00,2022,January,Wednesday,Craft and related trades workers

In [75]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "internet"]
data2I = data2[(data2['AMT'] >= 0.01) & (data2['AMT'] <= 3000.99)]
data2I.fillna("CAN CASHSEND IB", inplace = True)

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/3114608357.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2I.fillna("CAN CASHSEND IB", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
12,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",CAN CASHSEND IB,...,1466,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,CAN CASHSEND IB,2021-12-23 00:00:00+02:00,2021,December,Thursday,"Legislators, senior officials and managers"
17,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",CAN CASHSEND IB,...,1581,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,CAN CASHSEND IB,2022-03-25 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
24,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",CAN CASHSEND IB,...,1563,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,CAN CASHSEND IB,2022-03-18 00:00:00+02:00,2022,March,Friday,"Legislators, senior officials and managers"
25,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",CAN CASHSEND IB,...,1497,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,CAN CASHSEND IB,2022-01-28 00:00:00+02:00,2022,January,Friday,"Legislators, senior officials and managers"
31,22-Sep,male,11,6,1,36-45,1,11,"R9,000 - 9,999",CAN CASHSEND IB,...,1411,SAVE,internet,eafe70a33d6a1da6732b00c0a1f11f369e92f4d2b306b9...,CAN CASHSEND IB,2021-10-29 00:00:00+02:00,2021,October,Friday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847316,22-Jul,male,21,10,1,46-55,1271,21,"R125,000+",CAN CASHSEND IB,...,1278,SAVE,internet,44256c3a7ea1ad64a7bced02a3793705b1d5afe3d855b7...,CAN CASHSEND IB,2022-06-24 00:00:00+02:00,2022,June,Friday,"Legislators, senior officials and managers"
847336,22-Jul,male,21,17,1,56-65,2480,21,"R125,000+",CAN CASHSEND IB,...,3294,SAVE,internet,2661b9973c5dd384b10fac0a30e953b06aee22eb9aba71...,CAN CASHSEND IB,2022-02-18 00:00:00+02:00,2022,February,Friday,"Legislators, senior officials and managers"
847470,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,CAN CASHSEND IB,...,249,SAVE,internet,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,CAN CASHSEND IB,2022-01-17 00:00:00+02:00,2022,January,Monday,"Legislators, senior officials and managers"
847509,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,CAN CASHSEND IB,...,88,SAVE,internet,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,CAN CASHSEND IB,2021-09-14 00:00:00+02:00,2021,September,Tuesday,"Legislators, senior officials and managers"
847525,22-Apr,female,0,4,1,26-35,3162,0,NOT SUPPLIED,CAN CASHSEND IB,...,98,SAVE,internet,c9172a96f1f1e58e913d7c1ee055e2f253cda316c7bd80...,CAN CASHSEND IB,2021-09-17 00:00:00+02:00,2021,September,Friday,"Legislators, senior officials and managers"

In [76]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "internet"]
data2J = data2[(data2['AMT'] >= 3001.00) & (data2['AMT'] <= 40000.99)]
data2J.fillna("DIGITAL TRANSF CR", inplace = True)
data2J

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/3153315977.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2J.fillna("DIGITAL TRANSF CR", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
273,22-Aug,male,11,7,3,56-65,2,11,"R9,000 - 9,999",DIGITAL TRANSF CR,...,1732,SAVE,internet,94276879573be10ebbd93837b6f4ee3b039c25bf46ee9c...,DIGITAL TRANSF CR,2022-03-23 00:00:00+02:00,2022,March,Wednesday,Technicians and associate professionals
1542,22-Aug,male,11,11,1,46-55,254,11,"R9,000 - 9,999",DIGITAL TRANSF CR,...,1250,SAVE,internet,4269c490a349e56882fcdd320f8d10546ae53f2e757412...,DIGITAL TRANSF CR,2022-08-23 00:00:00+02:00,2022,August,Tuesday,"Legislators, senior officials and managers"
1602,22-Jun,male,11,6,1,56-65,283,11,"R9,000 - 9,999",DIGITAL TRANSF CR,...,7384,SAVE,internet,ecd01fe69d0acedfe90d1910d60f70a7e825b7f90d4c1e...,DIGITAL TRANSF CR,2022-04-28 00:00:00+02:00,2022,April,Thursday,"Legislators, senior officials and managers"
1662,22-Jun,male,11,6,1,56-65,283,11,"R9,000 - 9,999",DIGITAL TRANSF CR,...,6668,SAVE,internet,ecd01fe69d0acedfe90d1910d60f70a7e825b7f90d4c1e...,DIGITAL TRANSF CR,2021-12-22 00:00:00+02:00,2021,December,Wednesday,"Legislators, senior officials and managers"
1731,22-Sep,male,11,12,1,56-65,287,11,"R9,000 - 9,999",DIGITAL TRANSF CR,...,844,SAVE,internet,0bac5b37d73f12d486738fa417b9a3fc741d1c3d0ea97c...,DIGITAL TRANSF CR,2022-02-24 00:00:00+02:00,2022,February,Thursday,"Legislators, senior officials and managers"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846870,22-Sep,male,20,10,1,36-45,500,20,"R85,000 - 124,999",DIGITAL TRANSF CR,...,11770,SAVE,internet,63f805d2b9e236fdbe48bdd01d82e6f5d188194d09de36...,DIGITAL TRANSF CR,2022-01-04 00:00:00+02:00,2022,January,Tuesday,"Legislators, senior officials and managers"
846919,22-Sep,male,20,10,1,36-45,500,20,"R85,000 - 124,999",DIGITAL TRANSF CR,...,11798,SAVE,internet,63f805d2b9e236fdbe48bdd01d82e6f5d188194d09de36...,DIGITAL TRANSF CR,2022-03-16 00:00:00+02:00,2022,March,Wednesday,"Legislators, senior officials and managers"
847317,22-Jul,male,21,10,1,46-55,1271,21,"R125,000+",DIGITAL TRANSF CR,...,1264,SAVE,internet,44256c3a7ea1ad64a7bced02a3793705b1d5afe3d855b7...,DIGITAL TRANSF CR,2022-05-05 00:00:00+02:00,2022,May,Thursday,"Legislators, senior officials and managers"
847402,22-Sep,male,21,6,1,46-55,2816,21,"R125,000+",DIGITAL TRANSF CR,...,667,SAVE,internet,dd3ac1bebe92bbc5639af8079b993ff12e889137106ba3...,DIGITAL TRANSF CR,2022-05-21 00:00:00+02:00,2022,May,Saturday,"Legislators, senior officials and managers"
847406,22-Jul,female,21,11,2,46-55,4381,21,"R125,000+",DIGITAL TRANSF CR,...,46,SAVE,internet,b404bcff92027d06656055fd11c6d2545157938c0814e0...,DIGITAL TRANSF CR,2022-01-26 00:00:00+02:00,2022,January,Wednesday,Professionals

In [81]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "internet"]
data2K = data2[(data2['AMT'] >= 40001.00) & (data2['AMT'] <= 43000.99)]
data2K.fillna("IBANK TRANSFER", inplace = True)
data2K

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/1312296997.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2K.fillna("IBANK TRANSFER", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
230549,22-May,male,12,4,1,46-55,4804,12,"R10,000 - 11,999",IBANK TRANSFER,...,7266,SAVE,internet,565cd6d771f1152ddf0c795b20f7dbe306befcedaefce0...,IBANK TRANSFER,2021-11-04 00:00:00+02:00,2021,November,Thursday,"Legislators, senior officials and managers"
657540,22-Sep,female,16,17,1,36-45,2378,16,"R25,000 - 33,999",IBANK TRANSFER,...,7488,SAVE,internet,ea2ae2fb7e5344c28b7124240327473febbf070a14774c...,IBANK TRANSFER,2022-03-09 00:00:00+02:00,2022,March,Wednesday,"Legislators, senior officials and managers"
658250,22-Sep,male,16,5,1,56-65,2426,16,"R25,000 - 33,999",IBANK TRANSFER,...,3,SAVE,internet,403cee291e3265c944f65fe7eb62797a3202b106b21a2b...,IBANK TRANSFER,2022-02-14 00:00:00+02:00,2022,February,Monday,"Legislators, senior officials and managers"

In [80]:
data2 = data[data['TRANSACTION_DESCRIPTION'].isnull() == True]

data2 = data2[data2['CHANNEL'] == "internet"]
data2K = data2[(data2['AMT'] >= 43001.00) & (data2['AMT'] <= 50000.99)]
data2K.fillna("IBANK PAYMENT FROM", inplace = True)
data2K

/var/folders/30/7msgh4hj1hz__h5k3cmyhyqh0000gn/T/ipykernel_37068/2126076036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2K.fillna("IBANK PAYMENT FROM", inplace = True)

,DATE_LAST_UPDATED,GENDER,INCOME_GROUP_CODE,NUMBER_OF_ACCOUNTS,OCCUPATIONAL_STATUS_CODE,AGE,N_CUSTOMER_ID,income_group_code,income_group_desc,TRANSACTION_DESCRIPTION,...,EVENT_NUMBER,PRODUCT_CODE,CHANNEL,ACCOUNT_NUMBER,TRANSACTION_REFERENCE,datetime_column,year,month,day,Ocupational Description
39068,22-Sep,male,14,14,1,36-45,242,14,"R15,000 - 19,999",IBANK PAYMENT FROM,...,4,SAVE,internet,7d07a29e6c293850943b31ceb4f058de6d4ac8626fe093...,IBANK PAYMENT FROM,2022-08-05 00:00:00+02:00,2022,August,Friday,"Legislators, senior officials and managers"
71704,22-Jul,male,14,9,1,36-45,1794,14,"R15,000 - 19,999",IBANK PAYMENT FROM,...,9847,SAVE,internet,1f30a390bafa3d8278869bfdd2aeea2a2e0a936ca78bff...,IBANK PAYMENT FROM,2022-05-11 00:00:00+02:00,2022,May,Wednesday,"Legislators, senior officials and managers"
189819,22-Jul,female,12,6,1,36-45,1696,12,"R10,000 - 11,999",IBANK PAYMENT FROM,...,5259,SAVE,internet,eb9bb6227e5914fb8d358bc624c088f056150bfd47e021...,IBANK PAYMENT FROM,2022-04-08 00:00:00+02:00,2022,April,Friday,"Legislators, senior officials and managers"
330783,22-Sep,male,15,7,1,36-45,4885,15,"R20,000 - 24,999",IBANK PAYMENT FROM,...,9005,SAVE,internet,158c93a878c1e2bb4242a1c7030ba10a0e1c63dd8d9304...,IBANK PAYMENT FROM,2022-07-13 00:00:00+02:00,2022,July,Wednesday,"Legislators, senior officials and managers"
369320,22-Sep,female,6,8,1,26-35,4186,6,"R4,000 - 4,999",IBANK PAYMENT FROM,...,1334,SAVE,internet,90fcd295045c1808bf71f47b62e9d1d3d797f191223305...,IBANK PAYMENT FROM,2022-07-06 00:00:00+02:00,2022,July,Wednesday,"Legislators, senior officials and managers"
586870,22-Sep,female,17,10,1,46-55,2280,17,"R34,000 - 41,999",IBANK PAYMENT FROM,...,4,SAVE,internet,a27b33e3b094c08df47dc78e550bc4acc736697973104b...,IBANK PAYMENT FROM,2022-01-19 00:00:00+02:00,2022,January,Wednesday,"Legislators, senior officials and managers"
625638,22-Sep,male,16,8,1,26-35,862,16,"R25,000 - 33,999",IBANK PAYMENT FROM,...,4,SAVE,internet,085e0ba7959591792312fd15b277dd06f15d9a02c30f91...,IBANK PAYMENT FROM,2022-06-27 00:00:00+02:00,2022,June,Monday,"Legislators, senior officials and managers"
656992,22-Sep,female,16,17,1,36-45,2378,16,"R25,000 - 33,999",IBANK PAYMENT FROM,...,7963,SAVE,internet,ea2ae2fb7e5344c28b7124240327473febbf070a14774c...,IBANK PAYMENT FROM,2022-05-12 00:00:00+02:00,2022,May,Thursday,"Legislators, senior officials and managers"
677703,22-Aug,female,16,9,1,46-55,3423,16,"R25,000 - 33,999",IBANK PAYMENT FROM,...,12442,SAVE,internet,800ec6e931610bc9f227932c21ca711ad3ffaa5d1eb75b...,IBANK PAYMENT FROM,2021-12-02 00:00:00+02:00,2021,December,Thursday,"Legislators, senior officials and managers"
723807,22-Aug,male,13,5,1,46-55,1468,13,"R12,000 - 14,999",IBANK PAYMENT FROM,...,2,SAVE,internet,a00f715408abe1debc8f455e5039b0b2981c57e7b19772...,IBANK PAYMENT FROM,2022-08-17 00:00:00+02:00,2022,August,Wednesday,"Legislators, senior officials and managers"
821870,22-Sep,male,18,15,2,56-65,3577,18,"R42,000 - 62,999",IBANK PAYMENT FROM,...,23101,SAVE,internet,8a4ca5c99b8696a731991ec562270b756137d69540ddd6...,IBANK PAYMENT FROM,2022-06-09 00:00:00+02:00,2022,June,Thursday,Professionals